body{
}
#mainContainer{
	background-image: url("../img/viewport-bg.png");
	background-repeat: repeat;
}
main{
    margin-top: 55px;
}
/*.sidebar{
	background-color: #222;
}*/
.bg-white{
	background-color: #000;	
}
.bg-dark1{
	background-color: #111;	
}
.bg-dark2{
	background-color: #222;
}
.fixed-right{
	right: 0!important;
	left: inherit;
}
#main{
	margin-top: 0;
}
#leftSidebar{

}
#leftSidebar .nav-item a{
	color: #878787;
	transition: all 0.5s;
}
#leftSidebar .nav-item a i{
	margin-right: 5px;
	transition: all 0.5s;
}
#leftSidebar .nav-item a:hover{
	color: #EDEDED;
	transition: all 0.5s;
}
#leftSidebar .nav-item a:hover i{
	margin-right: 10px;
	font-weight: bold;
	transition: all 0.5s;
}
#formConfig{

}
#formConfig input,    
#formConfig button{    
	display: block;
    margin: .5rem 1rem;
    margin-top: 0;
    width: 80%;
}
.canvas-container{
	background-image: url('../img/canvas-bg.png');
}
#layers_list li a i{
	margin-right: 10px!important;
	color: #908f8f!important;
}
#layers_list li a span{
	color: #908f8f;
}
.property-box {
  padding: 10px; 
  margin: 5px; 
  border: 1px solid gainsboro;
}

.colorbox {
  width: 70px; 
  height: 35px; 
  border: 1px solid black;
}

.btn-sm {
  min-width: 50px;
}
.layer_datails{
    background: #f1f1f1;
}
#rightSidebar .sidebar-heading span{
    font-weight: bold;
    width: 100%;
    padding-bottom: 5px;
    text-align: center;
    background: #f1f1f1;
    border-radius: 10px;
    padding-top: 5px;
    border: 1px solid gainsboro;
}
.colorbox{	
    float: right;
}
.layer_color{
    min-height: 36px;
}
.layer_opacity{
    min-height: 36px;
}
.layer_opacity md-input-container{
    max-width: 50px!important;
    min-width: 70px!important;
    width: 50px!important;
    margin: 0!important;
}
.layer_opacity md-slider-container{
	width: 100%;
}
.layer_opacity md-slider{
    min-width: 100px;
    padding-top: 6px;
}
.layer_item {
	display: inline-block;
    width: 100%;
}
.layer_item span{
    display: contents!important;
}
.layer_item span b{
    padding-right: 10px;
}
.layer_nav button{
	width: 50%;
}
.layer_font_family button{
    float: right;
    font-size: 10px;
    min-height: 20px; 
    padding: 0;
    margin-right: 0;
}
.layer_font_family md-input-container,
.layer_font_size md-input-container{
    margin: 0;
    width: 25%;
    float: right;
}
.layer_font_size md-input-container input{

}
.layer_font_size md-input-container .md-errors-spacer{
	display: none;
}
.layer_meta span{
    display: block;
}
.layer_meta button,
.layer_show button,
.layer_blocked button{
	width: 40%;
}
#tableFontSet td{	
    vertical-align: middle;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
.f-right{
    float: right!important;
}
.f-left{
    float: left!important;
}
#navStatusBar .navbar-brand{
    font-size: 10px;
}
#navStatusBar .zoomBlock{
    font-size: 17px;
    padding-top: 7px;
    color: #fff;
}
#navStatusBar .zoomBlock a:hover{
    color: #74778a;
}    
#navStatusBar .zoomBlock a{    
    color: #fff;
}
#zoomInButton{
    margin-right: 5px;
}
#zoomOutButton{
    margin-left: 5px;
}
#zoomBlockInfo{
    display: contents;
    font-size: 14px;
}