<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>FabricJS editor</title>
  
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css'>
  <link rel='stylesheet prefetch' href='https://rawgit.com/ONE-LOGIC/md-color-menu/master/md-color-menu.css'>

  
  
</head>

<body>

  <div ng-app="app">
  <div ng-controller="MainController as main" layout="row">
    <div>
      <canvas id="c"></canvas>
    </div>
    <div flex>
      <h2 style="text-align: center;">Toolbox</h2>
      <div>
        <md-button class="md-raised" ng-click="main.addText()">Add Text</md-button>
        <md-button class="md-raised" ng-click="main.addRect()">Add Rectangle</md-button>
        <md-button class="md-raised" ng-click="main.addCircle()">Add Circle</md-button>
        <md-button class="md-raised" ng-click="main.addImage($event)">Add Image</md-button>
        <md-button class="md-raised md-warn" ng-click="main.remove()">Remove</md-button>
      </div>
      <div ng-show="main.activeObject.type === 'i-text'">
        <div style="padding: 10px; margin: 5px; border: 1px solid gainsboro;">
          <span>Font size: {{main.activeObject.getFontSize()}}</span><br />
          <span>Font family: {{main.activeObject.getFontFamily()}}</span><br />
          <span>Font color: {{main.activeObject.getFill()}}</span><br />
          <span>Text align: {{main.activeObject.getTextAlign()}}</span><br />
          <div style="width: 100px;">
            <md-color-menu color="main.color">
              <div style="width: 100px; height: 50px; border: 1px solid black;" 
                   ng-style="main.getStyle()">
              </div>  
            </md-color-menu>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.9/fabric.min.js'></script>
<script src='https://rawgit.com/ONE-LOGIC/md-color-menu/master/md-color-menu.js'></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  

    <script  src="js/index.js"></script>
    <script type="text/javascript">
      var app;
      (function (app) {
          var MainController = /** @class */ (function () {
              function MainController($scope, mdPickerColors, dlg) {
                  var _this = this;
                  this.$scope = $scope;
                  this.mdPickerColors = mdPickerColors;
                  this.dlg = dlg;
                  this.initCanvas = function () {
                      _this.canvas = new fabric.Canvas('c');
                      _this.canvas.setDimensions({
                          width: window.innerWidth * 0.7,
                          height: window.innerHeight
                      });
                      _this.canvas.setBackgroundColor('#565656', _this.canvas.renderAll.bind(_this.canvas));
                      _this.canvas.on('object:selected', function () {
                          _this.$scope.$evalAsync(function () {
                              _this.activeObject = _this.canvas.getActiveObject();
                          });
                      });
                      _this.canvas.on('selection:cleared', function () {
                          _this.$scope.$evalAsync(function () {
                              _this.activeObject = null;
                          });
                      });
                  };
                  this.onWindowResize = function () {
                      _this.canvas.setDimensions({
                          width: window.innerWidth * 0.7,
                          height: window.innerHeight
                      });
                  };
                  this.addText = function () {
                      var text = new fabric.IText('Sample Text', {
                          left: _this.canvas.width / 2,
                          top: _this.canvas.height / 2,
                          fontFamily: 'helvetica',
                          fill: '#fafafa',
                          hasRotatingPoint: false,
                          centerTransform: true
                      });
                      _this.canvas.add(text);
                      text.on('selected', function () {
                          _this.color = _this.mdPickerColors.getColor(text.getFill());
                      });
                      text.on('deselected', function () {
                          _this.color = null;
                      });
                  };
                  this.addRect = function () {
                      _this.canvas.add(new fabric.Rect({
                          left: _this.canvas.width / 2,
                          top: _this.canvas.height / 2,
                          fill: 'orange',
                          width: 100,
                          height: 100,
                          originX: 'center',
                          originY: 'center'
                      }));
                  };
                  this.addCircle = function () {
                      _this.canvas.add(new fabric.Circle({
                          left: _this.canvas.width / 2,
                          top: _this.canvas.height / 2,
                          fill: 'green',
                          radius: 50,
                          originX: 'center',
                          originY: 'center'
                      }));
                  };
                  this.addImage = function (ev) {
                      var confirm = _this.dlg.prompt()
                          .title('Add Image')
                          .textContent('Copy and paste link of the image:')
                          .placeholder('http://myimageurl.com')
                          .ariaLabel('Image Url')
                          .targetEvent(ev)
                          .ok('Ok')
                          .cancel('Cancel');
                      _this.dlg.show(confirm).then(function (result) {
                          fabric.Image.fromURL(result, function (img) {
                              _this.canvas.add(img);
                          });
                      });
                  };
                  this.refresh = function () {
                      _this.canvas.renderAll();
                  };
                  this.remove = function () {
                      if (_this.canvas.getActiveGroup()) {
                          _this.canvas.getActiveGroup().forEachObject(function (o) { _this.canvas.remove(o); });
                          _this.canvas.discardActiveGroup().renderAll();
                      }
                      else {
                          _this.canvas.remove(_this.canvas.getActiveObject());
                      }
                  };
                  this.getStyle = function () {
                      if (_this.activeObject != null) {
                          if (_this.color != null) {
                              if (_this.color.hex !== _this.activeObject.fill.toLowerCase()) {
                                  _this.activeObject.setFill(_this.color.hex);
                                  _this.canvas.renderAll();
                              }
                              return _this.color.style;
                          }
                          else {
                              return {
                                  'background-color': _this.activeObject.fill,
                                  'color': _this.activeObject.fill
                              };
                          }
                      }
                  };
                  this.initCanvas();
                  this.addText();
                  window.addEventListener('resize', this.onWindowResize);
              }
              MainController.$inject = ['$scope', 'mdPickerColors', '$mdDialog'];
              return MainController;
          }());
          angular
              .module('app', ['ngMaterial', 'mdColorMenu'])
              .controller('MainController', MainController);
      })(app || (app = {}));

    </script>




</body>

</html>