<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'libs/tui-image-editor/tui-image-editor.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.css"> -->
    <!-- <script src="https://uicdn.toast.com/tui-image-editor/latest/tui-image-editor.js"></script> -->
    <link type="text/css" href="https://cdn.rawgit.com/nhnent/tui.component.image-editor/1.3.0/samples/css/colorpicker.min.css" rel="stylesheet">
    <link type="text/css" href="https://cdn.rawgit.com/nhnent/tui.component.image-editor/1.3.0/samples/css/tui-image-editor.css" rel="stylesheet">-

    <script src="https://kit.fontawesome.com/78108e6fb5.js" crossorigin="anonymous"></script>
    <title>Editor</title>
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark1 flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Mídia Editor</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Salvar</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark2 sidebar" id="leftSidebar">
          <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Ferramentas</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-align-left"></i>
                  Texto
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#modalAddImage">
                  <i class="fas fa-images"></i>
                  Imagem
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="fas fa-pencil-ruler"></i>
                  Desenho 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <i class="far fa-hand-paper"></i>
                  Mão livre
                </a>
              </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Configurações</span>
            </h6>
            <form id="formConfig">
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    Altura (px)
                  </a>
                  <input type="number" name="altura" class="form-control" id="configHeight" min="1" placeholder="Altura" value="300">
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    Largura (px)
                  </a>
                  <input type="number" name="largura" class="form-control" id="configWidth" min="1" placeholder="Largura" value="300">
                </li>
                <li class="nav-item">
                  <button type="submit" class="btn btn-dark">Aplicar</button>
                </li>
              </ul>
            </form>
          </div>
        </nav>
        <nav class="col-md-2 d-none d-md-block bg-white sidebar fixed-right" id="rightSidebar">
          <div class="sidebar-sticky">

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Camadas</span>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Imagem
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Texto
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-8 offset-md-2 pt-3 px-4" id="main">
          <!-- modalAddImage -->
          <div class="modal fade" id="modalAddImage" tabindex="-1" role="dialog" aria-labelledby="modalAddImageLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <form id="AddImage">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalAddImageLabel">Adicionar Imagem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <div class="form-group">
                      <label for="inputAddImageHeight">Arquivo</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputAddImageFile">
                        <label class="custom-file-label" id="inputAddImageFileLabel">Procurar...</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddImageHeight">Altura (px)</label>
                      <input type="number" class="form-control" id="inputAddImageHeight" min="1">
                    </div>

                    <div class="form-group">
                      <label for="inputAddImageWeight">Largura (px)</label>
                      <input type="number" class="form-control" id="inputAddImageWeight" min="1">
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-dark">Adicionar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <!-- <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                This week
              </button>
            </div>
          </div> -->
          {% block content %}
          {% endblock content %}


          <div id="canvas-container">
            <div id="canvas-container-inner">
              <canvas id="master-canvas" class="canvas-container"></canvas>
            </div>
          </div>

        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

    <!-- <script type="text/javascript" src="{% static 'js/master.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script> -->
    <!-- 
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.6/fabric.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.3/FileSaver.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/nhnent/tui.code-snippet/1.2.1/code-snippet.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/nhnent/tui.component.colorpicker/1.0.2/dist/colorpicker.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/nhnent/tui.component.image-editor/1.3.0/dist/image-editor.min.js"></script>
    <script class="code-js">
      /**
       * basic.js
       * @author NHN Ent. FE Development Team <dl_javascript@nhnent.com>
       * @fileoverview
       */
      /* eslint-disable vars-on-top */
      'use strict';

      var supportingFileAPI = !!(window.File && window.FileList && window.FileReader);
      var rImageType = /data:(image\/.+);base64,/;
      var mask;

      // Functions
      // HEX to RGBA
      function hexToRGBa(hex, alpha) {
          var r = parseInt(hex.slice(1, 3), 16);
          var g = parseInt(hex.slice(3, 5), 16);
          var b = parseInt(hex.slice(5, 7), 16);
          var a = alpha || 1;

          return 'rgba(' + r + ', ' + g + ', ' + b + ', ' + a + ')';
      }
      function base64ToBlob(data) {
          var mimeString = '';
          var raw, uInt8Array, i, rawLength;

          raw = data.replace(rImageType, function(header, imageType) {
              mimeString = imageType;

              return '';
          });

          raw = atob(raw);
          rawLength = raw.length;
          uInt8Array = new Uint8Array(rawLength); // eslint-disable-line

          for (i = 0; i < rawLength; i += 1) {
              uInt8Array[i] = raw.charCodeAt(i);
          }

          return new Blob([uInt8Array], {type: mimeString});
      }
      function getBrushSettings() {
          var brushWidth = $inputBrushWidthRange.val();
          var brushColor = brushColorpicker.getColor();

          return {
              width: brushWidth,
              color: hexToRGBa(brushColor, 0.5)
          };
      }

      // Buttons
      var $btns = $('.menu-item');
      var $btnsActivatable = $btns.filter('.activatable');
      var $inputImage = $('#input-image-file');
      var $btnDownload = $('#btn-download');

      var $btnUndo = $('#btn-undo');
      var $btnRedo = $('#btn-redo');
      var $btnClearObjects = $('#btn-clear-objects');
      var $btnRemoveActiveObject = $('#btn-remove-active-object');
      var $btnCrop = $('#btn-crop');
      var $btnFlip = $('#btn-flip');
      var $btnRotation = $('#btn-rotation');
      var $btnDrawLine = $('#btn-draw-line');
      var $btnApplyCrop = $('#btn-apply-crop');
      var $btnCancelCrop = $('#btn-cancel-crop');
      var $btnFlipX = $('#btn-flip-x');
      var $btnFlipY = $('#btn-flip-y');
      var $btnResetFlip = $('#btn-reset-flip');
      var $btnRotateClockwise = $('#btn-rotate-clockwise');
      var $btnRotateCounterClockWise = $('#btn-rotate-counter-clockwise');
      var $btnText = $('#btn-text');
      var $btnClosePalette = $('#btn-close-palette');
      var $btnTextStyle = $('.btn-text-style');
      var $btnAddIcon = $('#btn-add-icon');
      var $btnRegisterIcon = $('#btn-register-icon');
      var $btnMaskFilter = $('#btn-mask-filter');
      var $btnLoadMaskImage = $('#input-mask-image-file');
      var $btnApplyMask = $('#btn-apply-mask');
      var $btnClose = $('.close');

      // Range Input
      var $inputRotationRange = $('#input-rotation-range');
      var $inputBrushWidthRange = $('#input-brush-width-range');
      var $inputFontSizeRange = $('#input-font-size-range');

      // Sub menus
      var $displayingSubMenu = $();
      var $cropSubMenu = $('#crop-sub-menu');
      var $flipSubMenu = $('#flip-sub-menu');
      var $rotationSubMenu = $('#rotation-sub-menu');
      var $freeDrawingSubMenu = $('#free-drawing-sub-menu');
      var $drawLineSubMenu = $('#draw-line-sub-menu');
      var $textSubMenu = $('#text-sub-menu');
      var $iconSubMenu = $('#icon-sub-menu');
      var $filterSubMenu = $('#filter-sub-menu');

      // Select line type
      var $selectMode = $('[name="select-line-type"]');

      // Text palette
      var $textPalette = $('#tui-text-palette');

      // Image editor
      var imageEditor = new tui.component.ImageEditor('.tui-image-editor canvas', {
          cssMaxWidth: 700,
          cssMaxHeight: 500
      });

      // Color picker for free drawing
      var brushColorpicker = tui.component.colorpicker.create({
          container: $('#tui-brush-color-picker')[0],
          color: '#000000'
      });

      // Color picker for text palette
      var textPaletteColorpicker = tui.component.colorpicker.create({
          container: $('#tui-text-color-picker')[0],
          color: '#000000'
      });

      // Color picker for icon
      var iconColorpicker = tui.component.colorpicker.create({
          container: $('#tui-icon-color-picker')[0],
          color: '#000000'
      });

      brushColorpicker.on('selectColor', function(event) {
          imageEditor.setBrush({
              color: hexToRGBa(event.color, 0.5)
          });
      });

      // Attach image editor custom events
      imageEditor.once('loadImage', function() {
          imageEditor.clearUndoStack();
      });

      var resizeEditor = function() {
          var $editor = $('.tui-image-editor');
          var $container = $('.tui-image-editor-canvas-container');
          var height = parseFloat($container.css('max-height'));

          $editor.height(height);
      };

      imageEditor.on({
          endCropping: function() {
              $cropSubMenu.hide();
              resizeEditor();
          },
          endFreeDrawing: function() {
              $freeDrawingSubMenu.hide();
          },
          emptyUndoStack: function() {
              $btnUndo.addClass('disabled');
              resizeEditor();
          },
          emptyRedoStack: function() {
              $btnRedo.addClass('disabled');
              resizeEditor();
          },
          pushUndoStack: function() {
              $btnUndo.removeClass('disabled');
              resizeEditor();
          },
          pushRedoStack: function() {
              $btnRedo.removeClass('disabled');
              resizeEditor();
          },
          activateText: function(obj) {
              $displayingSubMenu.hide();
              $displayingSubMenu = $textSubMenu.show();

              if (obj.type === 'new') { // add new text on cavas
                  imageEditor.addText('Double Click', {
                      position: obj.originPosition
                  });
              }
          },
          adjustObject: function(obj, type) {
              if (obj.type === 'text' && type === 'scale') {
                  $inputFontSizeRange.val(obj.getFontSize());
              }
          },
          removeObject: function(obj) {
              console.log(obj);
          }
      });

      // Attach button click event listeners
      $btns.on('click', function() {
          $btnsActivatable.removeClass('active');
      });

      $btnsActivatable.on('click', function() {
          $(this).addClass('active');
      });

      $btnUndo.on('click', function() {
          $displayingSubMenu.hide();
          imageEditor.undo();
      });

      $btnRedo.on('click', function() {
          $displayingSubMenu.hide();
          imageEditor.redo();
      });

      $btnClearObjects.on('click', function() {
          $displayingSubMenu.hide();
          imageEditor.clearObjects();
      });

      $btnRemoveActiveObject.on('click', function() {
          $displayingSubMenu.hide();
          imageEditor.removeActiveObject();
      });

      $btnCrop.on('click', function() {
          imageEditor.startCropping();
          $displayingSubMenu.hide();
          $displayingSubMenu = $cropSubMenu.show();
      });

      $btnFlip.on('click', function() {
          imageEditor.endAll();
          $displayingSubMenu.hide();
          $displayingSubMenu = $flipSubMenu.show();
      });

      $btnRotation.on('click', function() {
          imageEditor.endAll();
          $displayingSubMenu.hide();
          $displayingSubMenu = $rotationSubMenu.show();
      });

      $btnClose.on('click', function() {
          imageEditor.endAll();
          $displayingSubMenu.hide();
      });

      $btnApplyCrop.on('click', function() {
          imageEditor.endCropping(true);
      });

      $btnCancelCrop.on('click', function() {
          imageEditor.endCropping();
          $displayingSubMenu.hide();
      });

      $btnFlipX.on('click', function() {
          imageEditor.flipX();
      });

      $btnFlipY.on('click', function() {
          imageEditor.flipY();
      });

      $btnResetFlip.on('click', function() {
          imageEditor.resetFlip();
      });

      $btnRotateClockwise.on('click', function() {
          imageEditor.rotate(30);
      });

      $btnRotateCounterClockWise.on('click', function() {
          imageEditor.rotate(-30);
      });

      $inputRotationRange.on('mousedown', function() {
          var changeAngle = function() {
              imageEditor.setAngle(parseInt($inputRotationRange.val(), 10));
          };
          $(document).on('mousemove', changeAngle);
          $(document).on('mouseup', function stopChangingAngle() {
              $(document).off('mousemove', changeAngle);
              $(document).off('mouseup', stopChangingAngle);
          });
      });

      $inputBrushWidthRange.on('change', function() {
          imageEditor.setBrush({width: parseInt(this.value, 10)});
      });

      $inputImage.on('change', function(event) {
          var file;

          if (!supportingFileAPI) {
              alert('This browser does not support file-api');
          }

          file = event.target.files[0];
          imageEditor.loadImageFromFile(file);
      });

      $btnDownload.on('click', function() {
          var imageName = imageEditor.getImageName();
          var dataURL = imageEditor.toDataURL();
          var blob, type, w;

          if (supportingFileAPI) {
              blob = base64ToBlob(dataURL);
              type = blob.type.split('/')[1];
              if (imageName.split('.').pop() !== type) {
                  imageName += '.' + type;
              }

              // Library: FileSaver - saveAs
              saveAs(blob, imageName); // eslint-disable-line
          } else {
              alert('This browser needs a file-server');
              w = window.open();
              w.document.body.innerHTML = '<img src=' + dataURL + '>';
          }
      });

      // control draw mode
      $btnDrawLine.on('click', function() {
          imageEditor.endAll();
          $displayingSubMenu.hide();
          $displayingSubMenu = $drawLineSubMenu.show();
          $selectMode.removeAttr('checked');
      });

      $selectMode.on('change', function() {
          var mode = $(this).val();
          var settings = getBrushSettings();
          var state = imageEditor.getCurrentState();

          if (mode === 'freeDrawing') {
              if (state === 'FREE_DRAWING') {
                  imageEditor.endFreeDrawing();
              }
              imageEditor.startFreeDrawing(settings);
          } else {
              if (state === 'LINE') {
                  imageEditor.endLineDrawing();
              }
              imageEditor.startLineDrawing(settings);
          }
      });

      // control text mode
      $btnText.on('click', function() {
          if (imageEditor.getCurrentState() === 'TEXT') {
              $(this).removeClass('active');
              imageEditor.endTextMode();
          } else {
              $displayingSubMenu.hide();
              $displayingSubMenu = $textSubMenu.show();
              imageEditor.startTextMode();
              $textPalette.hide();
          }
      });

      $inputFontSizeRange.on('change', function() {
          imageEditor.changeTextStyle({
              fontSize: parseInt(this.value, 10)
          });
      });

      $btnTextStyle.on('click', function(e) { // eslint-disable-line
          var styleType = $(this).attr('data-style-type');
          var styleObj;

          e.stopPropagation();

          switch (styleType) {
              case 'b':
                  styleObj = {fontWeight: 'bold'};
                  break;
              case 'i':
                  styleObj = {fontStyle: 'italic'};
                  break;
              case 'u':
                  styleObj = {textDecoration: 'underline'};
                  break;
              case 'l':
                  styleObj = {textAlign: 'left'};
                  break;
              case 'c':
                  styleObj = {textAlign: 'center'};
                  break;
              case 'r':
                  styleObj = {textAlign: 'right'};
                  break;
              default:
                  styleObj = {};
          }

          imageEditor.changeTextStyle(styleObj);
      });

      textPaletteColorpicker.on('selectColor', function(event) {
          imageEditor.changeTextStyle({
              'fill': event.color
          });
      });

      $btnClosePalette.on('click', function() {
          imageEditor.deactivateAll();
          $textPalette.hide();
      });

      // control icon
      $btnAddIcon.on('click', function() {
          imageEditor.endAll();
          $displayingSubMenu.hide();
          $displayingSubMenu = $iconSubMenu.show();
      });

      $btnRegisterIcon.on('click', function() {
          $iconSubMenu.find('.menu').append(
                  '<li class="menu-item icon-text" data-icon-type="customArrow">↑</li>'
          );

          imageEditor.registerIcons({
              customArrow: 'M 60 0 L 120 60 H 90 L 75 45 V 180 H 45 V 45 L 30 60 H 0 Z'
          });

          $btnRegisterIcon.off('click');
      });

      $iconSubMenu.on('click', '.menu-item', function() {
          var iconType = $(this).attr('data-icon-type');

          imageEditor.addIcon(iconType);
      });

      iconColorpicker.on('selectColor', function(event) {
          imageEditor.changeIconColor(event.color);
      });

      // control mask filter
      $btnMaskFilter.on('click', function() {
          imageEditor.endAll();
          $displayingSubMenu.hide();


          $displayingSubMenu = $filterSubMenu.show();
      });

      $btnLoadMaskImage.on('change', function() {
          var file;
          var imgUrl;

          if (!supportingFileAPI) {
              alert('This browser does not support file-api');
          }

          file = event.target.files[0];

          if (file) {
              imgUrl = URL.createObjectURL(file);

              imageEditor.loadImageFromURL(imageEditor.toDataURL(), 'FilterImage');

              imageEditor.addImageObject(imgUrl);
          }
      });

      $btnApplyMask.on('click', function() {
          imageEditor.applyFilter('mask');
      });

      // Etc..

      // Load sample image
      imageEditor.loadImageFromURL('https://cdn.rawgit.com/nhnent/tui.component.image-editor/1.3.0/samples/img/sampleImage.jpg', 'SampleImage');

      // IE9 Unselectable
      $('.menu').on('selectstart', function() {
          return false;
      });
    </script>
 -->
  </body>
</html>