<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <script src="https://kit.fontawesome.com/78108e6fb5.js" crossorigin="anonymous"></script>
    
    <!-- Fabric and Angular -->
    <link rel='stylesheet prefetch' href='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css'>
    <link rel='stylesheet prefetch' href='https://rawgit.com/ONE-LOGIC/md-color-menu/master/md-color-menu.css'>

    <title>Editor</title>
  </head>
  <body ng-app="app">
    <input type="hidden" name="BaseUrl" id="BaseUrl" value="{{ request.get_host }}">
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top bg-dark1 flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Mídia Editor</a>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#modalFontSet">Fontes</a>
        </li>

        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" id="leftSidebar-toggle"  data-toggle="collapse" data-target="#leftSidebarContent" aria-controls="leftSidebarContent" aria-expanded="false" aria-label="Mostrar Ferramentas">Ferramentas</a>
        </li>

        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" id="rightSidebar-toggle"  data-toggle="collapse" data-target="#rightSidebarContent" aria-controls="rightSidebarContent" aria-expanded="false" aria-label="Mostrar Camadas">Camadas</a>
        </li>

        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#modalConfiguracoes">Configurações</a>
        </li>

        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#modalSaveProject">Salvar</a>
        </li>
      </ul>
    </nav>




    <div class="container-fluid" ng-controller="MainController as main" id="mainContainer">
      <div class="row">
        <div id="leftSidebarContent" class="collapse navbar-collapse">
          <nav class="col-md-2 d-none d-md-block bg-dark2 sidebar" id="leftSidebar">
            <div class="sidebar-sticky">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Ferramentas</span>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="#"  ng-click="main.addText()">
                    <i class="fas fa-align-left"></i>
                    Texto
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#modalAddImage">
                    <i class="fas fa-images"></i>
                    Imagem
                  </a>
                </li>
                <li class="nav-item">

                  <a class="nav-link" href="#" ng-show="!main.getFreeHandStatus()" ng-click="main.setFreeHand(true)">
                    <i class="fas fa-hand-pointer"></i>
                    Ativar Mão Livre
                  </a>
                  <a class="nav-link" href="#" ng-show="main.getFreeHandStatus()" ng-click="main.setFreeHand(false)">
                    <i class="fas fa-hand-rock"></i>
                    Desativar Mão Livre
                  </a>
                  
                </li>
              </ul>
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Desenho</span>
              </h6>
              <ul class="nav flex-column mb-2">
                <li class="nav-item">
                  <a class="nav-link" href="#" ng-click="main.addRect()">
                    <i class="far fa-square"></i>
                    Retangulo
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#" ng-click="main.addCircle()">
                    <i class="far fa-circle"></i>
                    Circulo
                  </a>
                </li>

              </ul>
            </div>
          </nav>
        </div>
        <div id="rightSidebarContent" class="collapse navbar-collapse">
          <nav class="col-md-3 d-none d-md-block bg-white sidebar fixed-right" id="rightSidebar">
            <div class="sidebar-sticky">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Camadas</span>
              </h6>

              <!-- Camadas -->
              <ul class="nav flex-column mb-2" id="layers_list">
              </ul>
              <!-- FIM::Camadas -->

              <div class="layer_datails">
                
              </div>

              <h6 ng-show="!main.activeObject" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>GRID</span>
              </h6>
              <div ng-show="!main.activeObject" class="property-box layer_datails layer_blocked text-center">
                  <md-button class="md-raised btn-sm" ng-click="main.addGrid()">
                    <i class="fas fa-check-circle"></i>
                    <md-tooltip md-direction="bottom">Adicionar</md-tooltip>
                  </md-button>

                  <md-button class="md-raised btn-sm" ng-click="main.removeGrid()">
                    <i class="fas fa-times-circle"></i>
                    <md-tooltip md-direction="bottom">Remover</md-tooltip>
                  </md-button>
              </div>

              <h6 ng-show="main.activeObject" class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted" ng-show="main.activeObject">
                <span>Detalhes</span>
              </h6>
              <div ng-show="main.activeObject" class="property-box layer_datails">
                <div ng-show="main.activeObject.type !== 'image'" class="layer_item layer_color">
                  <md-color-menu color="main.color">
                    <div class="colorbox" ng-style="main.getStyle()">
                    </div>
                  </md-color-menu>
                  <span><b>Cor</b> {{main.activeObject.fill}}</span>
                </div>
                <div ng-show="main.activeObject.type !== 'image'" class="layer_item layer_font_size">
                  <span><b>Font Size</b></span>
                    <md-input-container>
                      <input ng-model="main.font_size" 
                             ng-change="main.setFontSize()" 
                             type="number" 
                             name="font_size" 
                             id="LayerTextFontSizeInput" 
                             aria-label="Font Size" 
                             class="ng-pristine ng-valid md-input ng-not-empty ng-touched">
                    </md-input-container>

                </div>
                <div ng-show="main.activeObject.type !== 'image'" class="layer_item layer_font_family">
                  <span><b style="margin-top: 14px;display: inline-block;">Font Family</b></span>
                  <md-button class="md-raised btn-sm" data-toggle="modal" data-target="#modalFontSelect"><span id="selectedItemFontFamily"></span>
                    <md-tooltip md-direction="bottom">Alterar Fonte</md-tooltip>
                  </md-button>
                </div>
                <div class="layer_item layer_opacity" ng-show="main.activeObject">
                  <md-slider-container>
                    <span><b>Opacidade</b></span>
                    <md-slider
                               ng-model="main.opacity"
                               ng-change="main.setOpacity()"
                               min="0" 
                               max="100"
                               step="1"
                               class="md-primary"
                               aria-label="Editar Camada">
                    </md-slider>
                    <md-input-container>
                      <input  
                             ng-model="main.opacity"
                             ng-change="main.setOpacity()" 
                             aria-label="Editar Camada"/>
                    </md-input-container>
                  </md-slider-container>
                </div>
                <div class="layer_item layer_nav" ng-show="main.activeObject">
                  <span><b>Navegação</b></span>
                  <div layout="row">
                    <md-button class="md-raised btn-sm" ng-click="main.activeObject.bringForward();main.updateLayers();">↑
                      <md-tooltip md-direction="bottom">Subir uma camada</md-tooltip>
                    </md-button>
                    <md-button class="md-raised btn-sm" ng-click="main.activeObject.bringToFront();main.updateLayers();">⇑
                      <md-tooltip md-direction="bottom">Subir todas camads</md-tooltip>
                    </md-button>
                  </div>
                  <div layout="row">
                    <md-button class="md-raised btn-sm" ng-click="main.activeObject.sendBackwards();main.updateLayers();">↓
                      <md-tooltip md-direction="bottom">Enviar para início</md-tooltip>
                    </md-button>
                    <md-button class="md-raised btn-sm" ng-click="main.activeObject.sendToBack();main.updateLayers();">⇓
                      <md-tooltip md-direction="bottom">Descer uma camada</md-tooltip>
                    </md-button>
                  </div>
                </div>

              </div>
              <div class="property-box layer_datails layer_show text-center" ng-show="main.activeObject">
                  <span><b>Mostrar/Esconder Camada</b></span>
                  <md-button class="md-raised btn-sm" ng-click="main.setVisible(true)">
                    <i class="far fa-eye"></i>
                    <md-tooltip md-direction="bottom">Mostrar Camada</md-tooltip>
                  </md-button>

                  <md-button class="md-raised btn-sm" ng-click="main.setVisible(false)">
                    <i class="fas fa-eye-slash"></i>
                    <md-tooltip md-direction="bottom">Esconder camada</md-tooltip>
                  </md-button>
              </div>
              <div class="property-box layer_datails layer_blocked text-center" ng-show="main.activeObject">
                  <span><b>Bloquear/Desbloquear Camada</b></span>
                  <md-button class="md-raised btn-sm" ng-click="main.setAsBlocked(true)">
                    <i class="fas fa-times-circle"></i>
                    <md-tooltip md-direction="bottom">Bloquear Camada</md-tooltip>
                  </md-button>

                  <md-button class="md-raised btn-sm" ng-click="main.setAsBlocked(false)">
                    <i class="fas fa-check-circle"></i>
                    <md-tooltip md-direction="bottom">Desbloquear camada</md-tooltip>
                  </md-button>
              </div>
              <div ng-show="false" class="property-box layer_datails" ng-show="main.activeObject">
                <div>
                  <span>Font size: <span id="LayerTextFontSize"></span>
                  </span><br />
                  <span>Font family: <span id="LayerTextFontFamily"></span>
                  </span><br />
                  <span>Text align: <span id="LayerTextTextAlign"></span>
                  </span><br />
                </div>
              </div>             

              <div class="property-box layer_datails layer_meta text-center" ng-show="main.activeObject">
                  <span><b>Camada</b></span>
                  <md-button class="md-raised btn-sm" ng-click="main.remove()">
                    <i class="fas fa-trash-alt"></i>
                    <md-tooltip md-direction="bottom">Remover camada</md-tooltip>
                  </md-button>
                  <md-button class="md-raised btn-sm" ng-click="main.exportLayer()">
                    <i class="fas fa-file-download"></i>
                    <md-tooltip md-direction="bottom">Exportar camada</md-tooltip>
                  </md-button>


              </div>

            </div>
            
          </nav>
        </div>

        <main role="main" class="col-md-8 offset-md-2 pt-3 px-4" id="main">
          <!-- modalAddImage -->
          <div class="modal fade" id="modalAddImage" tabindex="-1" role="dialog" aria-labelledby="modalAddImageLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <form id="AddImage">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalAddImageLabel">Adicionar Imagem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <div class="form-group">
                      <label for="inputAddImageHeight">Link</label>
                      <input type="text" class="form-control" id="inputAddImageLink">
                    </div>
                    <hr>
                    <div class="form-group">
                      <label for="inputAddImageHeight">Arquivo</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputAddImageFile">
                        <label class="custom-file-label" id="inputAddImageFileLabel">Procurar...</label>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-dark"  ng-click="main.addImage($event)">Adicionar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- modalConfiguracoes -->
          <div class="modal fade" id="modalConfiguracoes" tabindex="-1" role="dialog" aria-labelledby="modalConfiguracoesLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <form id="formConfiguracoes">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalConfiguracoesLabel">Configurações</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="configHeight">Altura</label>
                      <input type="number" name="altura" class="form-control" id="configHeight" min="1" placeholder="Altura" value="400">
                    </div>
                    <div class="form-group">
                      <label for="configWidth">Largura</label>
                      <input type="number" name="largura" class="form-control" id="configWidth" min="1" placeholder="Largura" value="800">
                    </div>
                    <hr>
                    <div class="form-group">
                      <label for="configGrid">GRID Size</label>
                      <input type="number" name="grid" class="form-control" id="configGrid" min="50" placeholder="GRID Size" value="50">
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-dark" ng-click="main.resizeContent()">Adicionar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <!-- modalFontSet -->
          <div class="modal fade" id="modalFontSet" tabindex="-1" role="dialog" aria-labelledby="modalFontSetLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalFontSetLabel">Galeria de Fontes</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="inputFontSetFontFamily">Font Family</label>
                    <input type="text" name="font_family" class="form-control" id="inputFontSetFontFamily" placeholder="Font Name">
                  </div>
                </div>
                <table class="table table-hover" id="tableFontSet">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col" style="width: 30%">Name</th>
                      <th scope="col">Exemplo</th>
                      <th scope="col" style="width: 10%">Remove</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-dark" ng-click="main.addFont()">Adicionar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- modalSaveProject -->
          <div class="modal fade" id="modalSaveProject" tabindex="-1" role="dialog" aria-labelledby="modalSaveProjectLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalSaveProjectLabel">Salvar Projeto</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="inputSaveProjectName">Nome do projeto</label>
                    <input type="text" name="project_name" class="form-control" id="inputSaveProjectName" placeholder="Nome do projeto">
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="" style="display: none;" id="anchorSaveProjectAux"></a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success" ng-click="main.save()">Salvar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- modalFontSelect -->
          <div class="modal fade" id="modalFontSelect" tabindex="-1" role="dialog" aria-labelledby="modalFontSelectLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalFontSelectLabel">Selecionar Fonte</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="inputFontSetFontFamily">Font Family</label>
                    <select ng-model="main.font_family" 
                          name="font_family" 
                          id="LayerTextFontFamilyInput" 
                          aria-label="Font Family" 
                          class="form-control" 
                          style="">
                    </select>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-dark" ng-click="main.setFontFamily()">Aplicar</button>
                </div>
              </div>
            </div>
          </div>


          <div> 
            <div layout="row">
              <div>
                 <canvas id="c"></canvas>
              </div>
            </div>
          </div>
        </main>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/master.js' %}"></script>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-animate.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-aria.min.js'></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js'></script>

        <script src='https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.9/fabric.min.js'></script>
        <script src="http://cdn.jsdelivr.net/g/filesaver.js"></script>
        <script src='https://rawgit.com/ONE-LOGIC/md-color-menu/master/md-color-menu.js'></script>

        <script type="text/javascript">


        </script>
        <script type="text/javascript">
          var app;
          var _URL = window.URL || window.webkitURL;
          (function (app) {
            var MainController = /** @class */ (function () {
                function MainController($scope, mdPickerColors, dlg, $compile) {
                    var _this                   = this;
                    this.$scope                 = $scope;
                    /*this.configHeight         = dlg;*/
                    this.mdPickerColors         = mdPickerColors;
                    this.dlg                    = dlg;
                    this.ferramentaMaoLivre     = false;
                    this.gridGroup              = null;
                    this.fontSet                = [];

                    this.initCanvas = function () {
                        _this.canvas = new fabric.Canvas('c');
                        _this.canvas.setDimensions({
                            width: configWidth.value,
                            height: configHeight.value
                        });

                        let canvas_bg = "http://"+BaseUrl.value+"/static/img/canvas-bg.png";
                        

                        // extra canvas settings
                        this.canvas.preserveObjectStacking = true;
                        this.canvas.stopContextMenu = true;


                        //_this.canvas.setBackgroundImage(canvas_bg, _this.canvas.renderAll.bind(_this.canvas));
                        //_this.canvas.setBackgroundColor('#565656', _this.canvas.renderAll.bind(_this.canvas));

                        //Zoom control
                        this.canvas.on('mouse:wheel', (opt) => {
                          /*var delta = opt.e.deltaY;
                          var pointer = this.canvas.getPointer(opt.e);
                          var zoom = this.canvas.getZoom();
                          zoom = zoom + delta/200;
                          if (zoom > 20) zoom = 20;
                          if (zoom < 0.01) zoom = 0.01;
                          this.canvas.zoomToPoint({ x: opt.e.offsetX, y: opt.e.offsetY }, zoom);
                          opt.e.preventDefault();
                          opt.e.stopPropagation();*/
                        });

                        this.canvas.on('object:selected', () => {
                          this.$scope.$evalAsync(() => {
                            this.activeObject = this.canvas.getActiveObject();

                            if(this.activeObject.type === 'i-text')
                            {
                              this.color = this.mdPickerColors.getColor(this.activeObject.get('fill'));
                              this.opacity = this.activeObject.get('opacity') * 100;
                              this.old_opacity = this.opacity;
                              this.visible = true;
                              //_this.activeObject.set('fontSize', LayerTextFontSizeInput.value);

                              //Update fontSize
                              LayerTextFontSizeInput.value = _this.activeObject.fontSize;

                              $("#selectedItemFontFamily").html(_this.activeObject.fontFamily);
                              //Load Fonts
                              let html = "";
                              html += "<option value='"+_this.activeObject.fontFamily+"' selected=''>";
                              html += _this.activeObject.fontFamily;
                              html += "</option>";

                              _this.fontSet.forEach(function(item, index){
                                html += "<option value='"+item.value+"'>";
                                html += item.name;
                                html += "</option>";
                              });
                              $("#LayerTextFontFamilyInput option").remove();
                              $("#LayerTextFontFamilyInput").append($compile(html)($scope));
                            }

                            this.updateLayers();

                          });
                        });
                        
                        this.canvas.on('selection:cleared', () => {
                          this.$scope.$evalAsync(() => {
                            this.activeObject     = null; 
                            this.color            = null;
                            this.opacity          = 0;
                            this.old_opacity      = 0;
                            this.visible          = true;
                          });
                        });
                        
                        this.canvas.on('selection:updated', () => {
                          this.$scope.$evalAsync(() => {
                            this.activeObject = this.canvas.getActiveObject();
                            if(this.activeObject.type === 'i-text')
                            {
                              this.color          = this.mdPickerColors.getColor(this.activeObject.get('fill'));
                              this.opacity        = +(this.activeObject.get('opacity') * 100).toFixed();

                              this.old_opacity    = this.opacity;
                              this.visible        = true;

                              LayerTextFontSizeInput.value = this.activeObject.get('fontSize');
                              $("#LayerTextFontSizeInput").val(this.activeObject.get('fontSize'));
                            }
                          });
                        });


                        _this.canvas.on('object:selected', function () {
                          _this.$scope.$evalAsync(function () {
                            _this.activeObject = _this.canvas.getActiveObject();
                            console.log("selected", _this.activeObject);
                            if(_this.activeObject.type === 'i-text')
                            {
                              LayerTextFontSizeInput.value = _this.activeObject.getFontSize();
                              $("#LayerTextFontSizeInput").val(_this.activeObject.getFontSize());

                              $("#LayerTextFontSize").html(_this.activeObject.getFontSize());
                              $("#LayerTextFontFamily").html(_this.activeObject.fontFamily);
                              $("#LayerTextTextAlign").html(_this.activeObject.textAlign);
                            }
                            
                          });
                        });
                        _this.canvas.on('selection:cleared', function () {
                          _this.$scope.$evalAsync(function () {
                            _this.activeObject = null;
                          });
                        });

                        // snap to grid

                        _this.canvas.on('object:moving', function(options) {
                          if(!_this.ferramentaMaoLivre)
                          {
                            options.target.set({
                              left: Math.round(options.target.left / configGrid.value) * configGrid.value,
                              top: Math.round(options.target.top / configGrid.value) * configGrid.value
                            });
                          } 
                        });

                        _this.canvas.on('object:scaling', (options) => {
                          if(!_this.ferramentaMaoLivre)
                          {
                            var newWidth = (Math.round(options.target.getWidth() / configGrid.value)) * configGrid.value;
                            var newHeight = (Math.round(options.target.getHeight() / configGrid.value)) * configGrid.value;

                            if (options.target.getWidth() !== newWidth) {
                              options.target.set({ width: newWidth, height: newHeight });
                            }
                          }
                        });

                    };
                    this.zoomIn = function(){
                      $("#zoomSacale").html(_this.canvas.getZoom().toFixed(2));
                      _this.canvas.setZoom(_this.canvas.getZoom() * 1.1 ) ;
                    };
                    this.zoomOut = function(){
                      $("#zoomSacale").html(_this.canvas.getZoom().toFixed(2));
                      _this.canvas.setZoom(_this.canvas.getZoom() / 1.1 ) ;
                    };
                    this.exportLayer = function(doDownload = true){
                      var canvas      = fabric.util.createCanvasElement(),
                          fcanvas     = new fabric.Canvas(canvas);
                      
                      fcanvas.setDimensions({
                          width: configWidth.value,
                          height: configHeight.value
                      });

                      //ctx.putImageData(imageData, 0, 0);
                      var obj = _this.canvas.getActiveObject().set({
                        selectable: false,
                        active: false
                      });
                      fcanvas.add(obj);
                      fcanvas.renderAll();
                      // This requires FileSaver.js!
                      if(doDownload)
                      {
                        canvas.toBlob(function(blob) {
                          saveAs(blob, 'element.png');
                        }, 'image/png');
                      }
                      return canvas.toDataURL('png');
                    };
                    this.save = function(){
                      let layers_list = [];
                      _this.canvas._objects.forEach(function(item, index){
                        _this.canvas.setActiveObject(_this.canvas.item(index));                       
                        
                        //console.log("Item object: ", item);
                        let layer_data = {};
                        if(item.type==="i-text")
                        {
                          layer_data.id               = "layer_"+index;
                          layer_data.type             = item.type;
                          layer_data.fontFamily       = item.fontFamily;
                          layer_data.left             = item.left;
                          layer_data.top              = item.top;
                          layer_data.width            = item.width;
                          layer_data.height           = item.height;
                          layer_data.fill             = item.fill;
                          layer_data.text             = item.text;
                          layer_data.fontSize         = item.__dimensionAffectingProps.fontSize;
                          layer_data.charSpacing      = item.__dimensionAffectingProps.charSpacing;
                          layer_data.fontWeight       = item.__dimensionAffectingProps.fontWeight;
                          layer_data.lineHeight       = item.__dimensionAffectingProps.lineHeight;
                          layer_data.oCoords          = item.oCoords;
                          layer_data.scaleX           = item.scaleX;
                          layer_data.scaleY           = item.scaleY;
                        }
                        else
                        {
                          layer_data.id               = "layer_"+index;
                          layer_data.type             = item.type;
                          layer_data.oCoords          = item.oCoords;
                          layer_data.width            = item.width;
                          layer_data.height           = item.height;   
                          
                          layer_data.base64           = _this.exportLayer(false);   
                        }
                        layers_list.push(layer_data);
                      });
                      let projectJSON = {name: inputSaveProjectName.value, thumb: _this.canvas.toDataURL('png'), layers: layers_list, fontSet: _this.fontSet};
                      
                      var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(projectJSON));
                      //console.log("dataStr: ", dataStr);
                      var dlAnchorElem = document.getElementById('anchorSaveProjectAux');
                      dlAnchorElem.setAttribute("href",dataStr);
                      dlAnchorElem.setAttribute("download", inputSaveProjectName.value+".json");
                      dlAnchorElem.click();
                      inputSaveProjectName.value = "";
                      $("#modalSaveProject").modal("hide");

                      //console.log("Export data: ", JSON.stringify(layers_list));
                      return;

                      /*if(!window.localStorage){alert("This function is not supported by your browser."); return;}
                      // to PNG
                      console.log("Saving: ",_this.canvas.toDataURL('png'));
                      window.open(_this.canvas.toDataURL('png'));*/
                    };
                    this.addFont = function(){
                      let api_url                     = "https://fonts.googleapis.com/css?family=";
                      inputFontSetFontFamily.value    = inputFontSetFontFamily.value.replace("+", " ");
                      let font_name_holder            = inputFontSetFontFamily.value.replace(' ',"_");
                      let font_name                   = inputFontSetFontFamily.value.replace(' ',"+");
                      let link                        = api_url+font_name;
                      let html                        = "";
                      console.log("Link ",link);
                      console.log("Font Name ",font_name);
                      $('head').append('<link rel="stylesheet" type="text/css" href="'+link+'" id="fontSet_'+font_name_holder+'">');
                      html +="<tr id='fontSetRow_"+font_name_holder+"'>";
                      
                      html += "<th scope='row'>";
                      html += inputFontSetFontFamily.value;
                      html += "</th>";

                      html += '<td style="font-family:'+inputFontSetFontFamily.value+';font-size: 20px;">';
                      html += "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod...";
                      html += "</td>";

                      html += "<td style='text-align:center'>";
                      html += "<a  ng-click='main.removeFont(\""+font_name_holder+"\")' href='#' class='btn btn-warning'><i class='fas fa-trash-alt'></i></a>";
                      html += "</td>";

                      html += "</tr>";
                      //$("#tableFontSet tbody").prepend(html);
                      $("#tableFontSet tbody").prepend($compile(html)($scope));
                      //_this.fontSet.push(font_name_holder+"%%"+inputFontSetFontFamily.value);
                      _this.fontSet.push({name:inputFontSetFontFamily.value,value:font_name_holder});
                      inputFontSetFontFamily.value = "";
                    };
                    
                    this.removeFont = function(holder)
                    {
                      console.log("fontSet: ", _this.fontSet);
                      console.log("removeFont: ", holder);
                      $("#fontSet_"+holder).remove();
                      $("#fontSetRow_"+holder).remove();
                      _this.fontSet.forEach(function(item, index){
                        if(holder==item.value)
                        {
                          _this.fontSet.splice(index, 1);
                        }
                      });
                      console.log("fontSet updated: ", _this.fontSet);
                    };

                    this.getFreeHandStatus = function()
                    {
                      return _this.ferramentaMaoLivre;
                    };

                    this.updateLayerInfo = function(val){
                      let selectedObject = null;
                      let html = "";
                      if(_this.canvas._objects.length == 0)
                      {
                        return;
                      }
                      $("#layer_info_container").prepend(html);
                      if(val!=undefined)
                      {
                        selectedObject = _this.canvas._objects[val];
                      }
                      else
                      {
                        selectedObject = _this.canvas.getActiveObject();
                        //console.log("selected: ", selectedObject);
                      }
                      if(selectedObject==undefined)
                      {
                        $("#layer_info").css("display", "none");
                        $("#layer_info_container").prepend(html);
                        return;
                      }
                      if(selectedObject.text!=undefined)
                      {
                        html += "<b>Font-Family: </b> "+selectedObject.fontFamily;
                        html += "<br>";
                        html += "<b>Texto: </b> "+selectedObject.text;
                        html += "<br>";
                        html += "<b>Left: </b> "+selectedObject.left;
                        html += "<br>";
                        html += "<b>Top: </b> "+selectedObject.top;
                      }
                      else if(selectedObject._element!=undefined && selectedObject._element.className=="canvas-img")
                      {
                        html += "<b>Width: </b> "+selectedObject.width;
                        html += "<br>";
                        html += "<b>Height: </b> "+selectedObject.height;
                        html += "<br>";
                        html += "<b>Left: </b> "+selectedObject.left;
                        html += "<br>";
                        html += "<b>Top: </b> "+selectedObject.top;
                      }
                      $("#layer_info_container").prepend(html);
                      $("#layer_info").css("display", "block");

                    };
                    this.addGrid = function(){
                      if (this.gridGroup) return;
                      var gridsize = parseFloat(configGrid.value);
                      var gridoption = {
                        stroke: "#ccc",
                        strokeWidth: 1,
                        /*selectable: false,*/
                      };
                      var gridoptionCenter = {
                        stroke: "#FA685E",
                        strokeWidth: 1.5,
                        strokeDashArray: [5, 5]
                        /*selectable: false,*/
                      };
                      var gridLines = [];
                      console.log("Canvas Width: ", _this.canvas.width);
                      console.log("Config Width: ", configWidth.value);
                      console.log("Center: ", (parseFloat(configWidth.value)/parseFloat(configGrid.value)));
                      for (var x = 1; x < parseFloat(configWidth.value)+parseFloat(configGrid.value); x += parseFloat(configGrid.value)) 
                      {
                        if(x==((parseFloat(configWidth.value)/parseFloat(configGrid.value))/2)*parseFloat(configGrid.value)+1)
                        {
                          gridLines.push(new fabric.Line([x, 0, x, parseFloat(configWidth.value)], gridoptionCenter));
                        }
                        else
                        {
                          gridLines.push(new fabric.Line([x, 0, x, parseFloat(configWidth.value)], gridoption));
                        }
                      }
                      for (var x = 1; x < parseFloat(configWidth.value)+parseFloat(configGrid.value); x += parseFloat(configGrid.value)) 
                      {
                        if(x==((parseFloat(configHeight.value)/parseFloat(configGrid.value))/2)*parseFloat(configGrid.value)+1)
                        {
                          gridLines.push(new fabric.Line([0, x, parseFloat(configWidth.value), x], gridoptionCenter));
                        }
                        else
                        {
                          gridLines.push(new fabric.Line([0, x, parseFloat(configWidth.value), x], gridoption));
                        }

                      }
                      this.gridGroup = new fabric.Group(gridLines, {
                        selectable: false,
                        evented: false
                      })
                      this.gridGroup.addWithUpdate();
                      _this.canvas.add(this.gridGroup);
                    };
                    this.removeGrid = function(){
                      this.gridGroup && _this.canvas.remove(this.gridGroup);
                      this.gridGroup = null;
                    };

                    this.setLayerAsSelected = function(val){
                      _this.canvas.setActiveObject(_this.canvas.item(val));
                    };
                    this.updateLayers = function(){
                      //console.log("updating Layers...", _this.canvas._objects.length);
                      let html = "";
                      //$("#layers_list").prepend(html);
                      $("#layers_list li").remove();

                      $("#layers_list").prepend();

                      //console.log("Objects: ", _this.canvas._objects);
                      _this.canvas._objects.forEach(function(item, index){
                        //console.log("Index: ", item);
                        html += "<li class='nav-item'>";
                        html += "<a class='nav-link' id='layer_"+index+"' ng-click='main.setLayerAsSelected("+index+")' href='#'>";
                        if(item.type === 'i-text')
                        {
                          html += "<i class='fas fa-font'></i>";
                          html += "Texto";
                        }
                        else
                        {
                          html += "<i class='far fa-image'></i>";
                          html += "Imagem";
                        }
                        html += "</a>";
                        html += "</li>"; 
                      });

                      /*
                      for (let i = 0; i < _this.canvas._objects.length; i++) 
                      {
                        //console.log("--building: ", _this.canvas._objects[i]);
                        html += "<li class='nav-item'>";
                        html += "<a class='nav-link' id='layer_"+i+"' ng-click='main.setLayerAsSelected("+i+")' href='#'>";
                        //console.log("Element: ",_this.canvas._objects[i]);

                        //console.log("Layer "+i+" - ", _this.canvas._objects[i]);
                        if(_this.canvas._objects[i].type === 'i-text')
                        {
                          html += "<i class='fas fa-font'></i>";
                          html += "Texto";
                        }
                        //else if(_this.canvas._objects[i]._element!=undefined && _this.canvas._objects[i]._element.className=="canvas-img")
                        else
                        {
                          html += "<i class='far fa-image'></i>";
                          html += "Imagem";
                        }
                        html += "</a>";
                        html += "</li>";                
                      }
                      */
                      //console.log("Prepend html: ", html);
                      
                      $("#layers_list").prepend($compile(html)($scope));
                      //$("#layers_list").prepend(html);
                      
                    };
                    this.onWindowResize = function () {
                        _this.canvas.setDimensions({
                            width: window.innerWidth * 0.7,
                            height: window.innerHeight
                        });
                    };
                    this.resizeContent = function($event){
                        //console.log("event", $event);
                        //console.log("document", document.getElementById("configHeight").value);
                        _this.canvas.setDimensions({
                            width: configWidth.value,
                            height: configHeight.value
                        });
                        //console.log("altura: ", configHeight.value);
                        $("#modalConfiguracoes").modal("hide");
                    };
                    this.addText = function () {
                        var text = new fabric.IText('Texto', {
                            left: (parseFloat(configWidth.value)-configGrid.value) / 2,
                            top: (parseFloat(configHeight.value)-configGrid.value) / 2,
                            fontFamily: 'helvetica',
                            fill: '#000',
                            hasRotatingPoint: true,
                            centerTransform: true
                        });
                        _this.canvas.add(text);
                        text.on('selected', function () {
                            _this.color = _this.mdPickerColors.getColor(text.getFill());
                            
                        });
                        text.on('deselected', function () {
                            _this.color = null;
                        });
                        text.on('scaling', () => {
                          this.$scope.$evalAsync();
                        });
                        this.updateLayers();

                    };
                    this.addRect = function () {
                        _this.canvas.add(new fabric.Rect({
                            left: _this.canvas.width / 2,
                            top: _this.canvas.height / 2,
                            fill: 'orange',
                            width: 100,
                            height: 100,
                            originX: 'center',
                            originY: 'center'
                        }));
                        this.updateLayers();
                    };
                    this.addCircle = function () {
                        _this.canvas.add(new fabric.Circle({
                            left: _this.canvas.width / 2,
                            top: _this.canvas.height / 2,
                            fill: 'green',
                            radius: 50,
                            originX: 'center',
                            originY: 'center'
                        }));
                        this.updateLayers();
                    };
                    this.addImage = function (ev) {
                      if(inputAddImageLink.value!="")
                      {
                        fabric.Image.fromURL(inputAddImageLink.value, function (img) {
                            _this.canvas.add(img);
                        });
                        inputAddImageLink.value = "";
                        $("#modalAddImage").modal("hide");

                        this.updateLayers();
                      }
                      else
                      {
                        if ((file = $("#inputAddImageFile")[0].files[0])) {
                            var img = new Image();
                            var objectUrl = _URL.createObjectURL(file);
                            img.onload = function () {
                                /*alert(this.width + " " + this.height);*/
                                _URL.revokeObjectURL(objectUrl);
                            };
                            img.src = objectUrl;
                            /*let _width = inputAddImageWeight.value;
                            let _height = inputAddImageHeight.value;
                            let _setImageWidth = _width;
                            let _setImageHeight = _height;*/
                            fabric.Image.fromURL(objectUrl, function (img) {
                              img.set({
                                /*width: _width,
                                height: _height,*/
                                scaleX: 1,
                                scaleY: 1,
                                left: 0,
                                top: 0
                              })
                                _this.canvas.add(img);
                                _this.updateLayers();
                            });
                        }
                        /*main.setLayerAsSelected*/
                        $("#modalAddImage").modal("hide");
                        this.updateLayers();
                      }
                    };
                    this.addImageOnly = function (ev) {
                        var confirm = _this.dlg.prompt()
                            .title('Add Image')
                            .textContent('Copy and paste link of the image:')
                            .placeholder('http://myimageurl.com')
                            .ariaLabel('Image Url')
                            .targetEvent(ev)
                            .ok('Ok')
                            .cancel('Cancel');
                        _this.dlg.show(confirm).then(function (result) {
                          //console.log("fabric.Image.fromURL", result);
                          fabric.Image.fromURL(result, function (img) {
                            _this.canvas.add(img);
                          });
                        });
                    };
                    this.refresh = function () {
                        _this.canvas.renderAll();
                    };
                    this.setVisible = function (bool_val) {
                      this.visible = bool_val;
                      if(bool_val)
                      {
                        _this.activeObject.set({
                          opacity: 1,
                          selectable: true,
                          active: true
                        });
                      }
                      else
                      {
                        _this.activeObject.set({
                          opacity: 0,
                          selectable: false,
                          active: false
                        });

                      }
                      _this.canvas.renderAll();

                    };

                    this.setFreeHand = function (bool_val) {
                      _this.ferramentaMaoLivre = bool_val;
                      //console.log("setFreeHand: ", bool_val);
                      _this.canvas.renderAll();

                    };
                    this.setAsBlocked = function (bool_val) {
                      this.selectable = bool_val;
                      //console.log("setAsBlocked: ", bool_val);
                      if(bool_val)
                      {
                        _this.activeObject.set({
                          selectable: false
                        });
                      }
                      else
                      {
                        _this.activeObject.set({
                          selectable: true
                        });
                      }
                      _this.canvas.renderAll();

                    };

                    this.remove = function () {
                        if (_this.canvas.getActiveGroup()) {
                            _this.canvas.getActiveGroup().forEachObject(function (o) { _this.canvas.remove(o); });
                            _this.canvas.discardActiveGroup().renderAll();
                          this.updateLayers();
                        }
                        else {
                            _this.canvas.remove(_this.canvas.getActiveObject());
                          this.updateLayers();
                        }
                    };
                    this.getStyle = function () {
                        if (_this.activeObject != null) {
                            if (_this.color != null) {
                                if (_this.color.hex !== _this.activeObject.fill.toLowerCase()) {
                                    _this.activeObject.setFill(_this.color.hex);
                                    _this.canvas.renderAll();
                                }
                                return _this.color.style;
                            }
                            else {
                                return {
                                    'background-color': _this.activeObject.fill,
                                    'color': _this.activeObject.fill
                                };
                            }
                        }
                    };
                    this.getFontSize = () => {
                      if (!_this.activeObject) {
                        return 0;
                      }
                      
                      let size = _this.activeObject.fontSize || 0;
                      return +(size * _this.activeObject.scaleX).toFixed();
                    }  

                    this.setFontFamily = () => {
                      if($("#LayerTextFontFamilyInput option:selected").val()!=undefined && $("#LayerTextFontFamilyInput option:selected").val()!="")
                      {
                        console.log("Update Font Family: ", $("#LayerTextFontFamilyInput option:selected").html());
                        _this.activeObject.fontFamily = $("#LayerTextFontFamilyInput option:selected").html();
                        //_this.activeObject.fontFamily = 'Tangerine';

                        _this.canvas.renderAll();
                        $("#modalFontSelect").modal("hide");
                      }
                    };
                    this.setFontSize = () => {
                      if (this.font_size < 0) {
                        this.font_size = 0;
                      }
                      //console.log("this.LayerTextFontSizeInput", LayerTextFontSizeInput.value);
                      _this.activeObject.set('fontSize', LayerTextFontSizeInput.value);
                      //_this.canvas.requestRenderAll();
                      _this.canvas.renderAll();
                    };
                  
                    this.setOpacity = () => {
                      if (this.opacity < 0) {
                        this.opacity = 0;
                      }
                      
                      if (this.opacity > 100) {
                        this.opacity = 100;
                      }
                      
                      _this.activeObject.set('opacity', this.opacity / 100);
                      //_this.canvas.requestRenderAll();
                      _this.canvas.renderAll();
                    }


                    this.initCanvas();
                    this.addText();
                    $("#zoomSacale").html(_this.canvas.getZoom().toFixed(2));
                    window.addEventListener('resize', this.onWindowResize);
                }
                MainController.$inject = ['$scope', 'mdPickerColors', '$mdDialog', '$compile'];
                return MainController;
            }());
            angular
                .module('app', ['ngMaterial', 'mdColorMenu'])
                .controller('MainController', MainController);
          })(app || (app = {}));
        </script>
      </div>

      
      <nav class="nnavbar fixed-bottom navbar-expand-sm navbar-dark bg-dark" id="navStatusBar">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Barra de Status</a>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 f-right">

          
          <li class="nav-item text-nowrap col-md-2 zoomBlock">
            <a href="#" ng-click="main.zoomIn()" id="zoomInButton"><i class="fas fa-search-plus"></i></a>
            <div id="zoomBlockInfo">
              <span>Zoom</span> (<span id="zoomSacale"></span>)
            </div>
            <a href="#" ng-click="main.zoomOut()" id="zoomOutButton"><i class="fas fa-search-minus"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </body>
</html>